@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.herotitle{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 44px;
  background: linear-gradient(135deg,#ffc0cb,rgb(185, 21, 185));
  color: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 50px rgb(218, 68, 185);
}

.herodesc{
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0px 0px 50px;
}

.herocard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(3px);
  padding: 10px 20px;
  border-radius: 0px 0px 10px ;
  font-family: "Fira code";
  font-size: 20px;
  background: linear-gradient(135deg,rgba(255, 255, 255, 0.1),rgb(216, 112, 147,0.2));
}

.herocard>span{
  display: flex;
  align-items: center;
  text-shadow: 0px 0px 3px;
}

.logo{
  font-size: 44px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-shadow: 0px 0px 15px;
}

.logoe{
  -webkit-text-stroke: 1.5px white;
  color: transparent;
  font-size: 42px;
  text-shadow: 0px 0px 20px white;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  padding: 10px 30px;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  backdrop-filter: blur(5px);
}

.nav>ul{
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-family: 'Fira Code';
}

.top{
  display: flex;
  justify-content: end;
  background: linear-gradient(135deg,rgb(216, 112, 147,0.2),rgb(255, 255, 255,0.2));
  backdrop-filter: blur(5px);
  border-radius: 5px 5px 0px 0px;
  padding: 5px 10px;
}

.navpop{
  background: linear-gradient(135deg,rgb(255, 255, 255,0.1),rgb(216, 112, 147,0.2));
  padding: 12px 25px;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  font-size: 18px;
  font-family: "Fira code";
}

.homebtn{
  background: linear-gradient(135deg,rgb(255, 255, 255,0.1),rgb(216, 112, 147,0.2));
  padding: 10px 15px;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgb(216, 112, 147,0.8);
  font-family: "Fira Code";
  text-shadow: 0px 0px 15px rgb(245, 245, 245,0.5);
}

.themebox{
  background: linear-gradient(135deg,rgb(255,255,255,0.1),rgb(56, 27, 36,0.4));
  border: 2px solid rgb(216, 112, 147,0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  padding-left: 90px;
  font-size: 20px;
  font-family: 'Fira Code';
  margin: 30px;
  max-width: 800px;
  text-align: start;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.705);
  backdrop-filter: blur(8px);
}

.themeboxtitle{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  rotate: -90deg;
  font-size: 28px;
  color: transparent;
  -webkit-text-stroke: 1.5px palevioletred;
  text-shadow: 0px 0px 10px rgba(216, 112, 147, 0.5);
  top: 0;
  bottom: 0;
  text-align: center;
}

.tb2{
  left:50px;
}

@media (max-width:875){
  .themeboxtitle{
    rotate: 0deg;
    position: relative;
    left: 0px;
    font-size: 24px;
  }
  .themebox{
    padding-left: 20px;
    font-size: 18px;
  }
  .tb2{
    left:0px
  }
}

.themeboxtitle2{
  rotate: 0deg;
  position: relative;
  left: 0;
}

.tb22{
  padding-left: 20px;
}

.logos{
  border-radius: 50%;
  box-shadow: 0px 0px 50px rgb(255, 255, 255,0.4);
}

.ieeewie{
  box-shadow: 0px 0px 50px rgb(142, 142, 255,0.4);
}
